<header>

    <mat-toolbar color="primary" style="background-color: #67C5C8;">
      <span style="color: black; font-weight: bold;">
        <a routerLink="/landing" style="color: black; text-decoration: none;">SaveUp</a>
      </span>
      <span class="example-spacer"  style="color: black; font-weight: bold;font-size: 20px;">Cliente</span>
    </mat-toolbar>
  </header>
  <main class="recover-password">
    <mat-card >
      <h1 style=" font-weight: bold;">Registrate</h1>

      <p style="color: white">

        <mat-form-field appearance="fill">
          <mat-label>Introduce tu correo electrónico</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label style="color: white">Nombre</mat-label>
            <input matInput placeholder="Placeholder"  [formControl]="nombre" style="color: white">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Requerido</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="color: white">Apellido</mat-label>
            <input matInput placeholder="Placeholder" [formControl]="apellido" style="color: white">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Requerido</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="color: white">Direccion</mat-label>
            <input matInput placeholder="Placeholder"  [formControl]="direccion" style="color: white">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Requerido</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="color: white">Departamento</mat-label>
            <input matInput placeholder="Placeholder"  [formControl]="departamento" style="color: white">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Requerido</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="color: white">Distrito</mat-label>
            <input matInput placeholder="Placeholder"  [formControl]="distrito" style="color: white">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Requerido</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="color: white">Número telefónico</mat-label>
            <input matInput placeholder="Placeholder"  [formControl]="celular" style="color: white">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Requerido</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="color: white">Contraseña</mat-label>
            <input matInput placeholder="Placeholder"  [formControl]="contrasena" style="color: white">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Requerido</mat-hint>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label style="color: white">Repetir contraseña</mat-label>
            <input matInput placeholder="Placeholder" [formControl]="repetircontra" style="color: white">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Requerido</mat-hint>
          </mat-form-field>
      </p>
      
      <button mat-button style="background-color: #E95D5D;font-weight: bold" (click)="onSubmit()" >Regístrate</button>
      <a class="registrarse"  routerLink="/check/in" style="color: black; font-weight: bold;">¿No tienes una cuenta? ¡Regístrate ahora!</a>
      <hr class="mi-linea">
      <a class="registrarseempresa"  routerLink="/check/in" style="color: black; font-weight: bold;">¿Eres una empresa? Da click aquí </a>

    </mat-card>
    
      
  </main>
 

  
  
  
  
  
  
  