<app-toolbar-session></app-toolbar-session>

<section class="carrito">
  <div class="left">
    <div class="my-point">
      <h2>Numero de puntos: {{availablePoints}}</h2>
    </div>
    <div class="my-products">
      <mat-card class="example-card" *ngFor="let product of selectedProducts">
        <mat-card-content class="example-card-content">
          <div class="image-product">
            <img mat-card-xl-image :src="{{ product.imagen }}" style="height:180px; width:180px ">
          </div>
          <div class="description-product">
            <h2>{{ product.name }}</h2>
            <p> Producto: {{ product.marca }} de {{ product.descripcion }}</p>
            <p> Fecha de vencimiento: {{ product.vencimiento }}</p>
            <p> Costo: S/.{{ product.precio }} </p>
            <p> Stock: {{ product.stock}}</p>
          </div>
        </mat-card-content>
          <mat-card-actions class="example-card-actions">
            <div>
              <button mat-icon-button aria-label="Icon +" (click)="increaseQuantity(product.id)">
                <mat-icon>add</mat-icon>
              </button>
              <b>{{ productQuantities[product.id] || 1 }}</b>
              <button mat-icon-button aria-label="Icon -" (click)="decreaseQuantity(product.id)">
                <mat-icon>remove</mat-icon>
              </button>
              <button mat-raised-button color="warn" (click)="removeProduct(product)">Eliminar</button>

            </div>
          </mat-card-actions>
      </mat-card>
    </div>

  </div>
  <div class="right">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Resumen de la orden</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Envio a domicilio</p>
        <p>Departamento Lima</p>
        <p>Distrito San Miguel</p>
        <p>Direccion: AV. Universitaria 9960</p>
        <h2>Total: {{ totalSum }}</h2>
        <h2 *ngIf="showDiscountedTotal">Total con descuento: {{ totalWithDiscount }}</h2>
        <div>
          <button mat-fab extended color="primary" (click)="redeemPoints()">
          Canjear puntos
          </button>
          <button mat-fab extended color="primary" routerLink="/confirm/purchase">
          Pagar
          </button>
        </div>
      </mat-card-content>
    </mat-card>

  </div>

</section>