<app-toolbar-session></app-toolbar-session>

<div *ngIf="profileData">
    <img src="assets/images/updatePhoto.png" alt="" style="height: 100px;width: 100px;">
    <span>Nombre:  <h2>asnka</h2> </span>
    <span>Apellido:  <h2>sadsd</h2> </span>
    <span>Correo:  <h2>asjbdaj</h2> </span>
    <span>Departamento:  <h2>asjbdaj</h2> </span>
    <span>Distrito:  <h2>asjbdaj</h2> </span>
    <span>Direccion:  <h2>asjbdaj</h2> </span>
    <span>Celular:  <h2>asjbdaj</h2> </span>
    <span>Contraseña:  <h2 style="display: none;">asjbdaj</h2> </span>
    <span>Numero de Tarjeta:  <h2>asjbdaj</h2> </span>
</div>